<div class="global-navigation-wrapper">
  <nav id="globalNavigation" class="global-navigation">
    <div class="global-navigation__content-bar-left">
      <%= image_tag 'pnp_fav_32.png', class: "global-navigation__icon" %>
      <%= global_navigation_menu %>
    </div>
    <div class="global-navigation__content-bar-right">
      <a class="global-navigation__link" href="#">Broken search</a>
    </div>
  </nav>
</div>
